streamlit
g4f
Pillow
pypdf
gTTS
duckduckgo_search
python-dotenv
bcrypt
PyMuPDF==1.26.3
fpdf2
python-docx
pandas
openpyxl
plotly
streamlit-mic-recorder
beautifulsoup4
requests
gTTS
edge-tts
asyncio
